body {
    background-color: lightgrey;
}
.nav_link {
    padding: 10px;
    font-size: 1.3em;
}
img {
    width: 300px;
}
a {
    color: black
}

#main_title {
    font-size:3em;
}
#sub_title {
    color: grey
}